/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* 全局取消边框填充，元素高度宽度 */
* {
    margin: 0;
    padding: 0;
    /* 设置盒子长宽就包含了边框和内边距 */
    box-sizing: border-box;
}

/* 全局样式，会被继承 */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header {
    height: 95vh;
    /* https: //developer.mozilla.org/zh-CN/docs/Web/CSS/gradient/linear-gradient */
    background-image: linear-gradient(to left top,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 131, 0.8)),
        url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* https: //blog.csdn.net/yellow_important/article/details/140567591 子绝父相 */
    position: relative;
}

.logo-box {
    /* https: //blog.csdn.net/yellow_important/article/details/140567591 子绝父相 */
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo {
    height: 35px;
}

.heading-primary {
    color: aliceblue;
    text-transform: uppercase;
    /* 解决动画抖动 */
    backface-visibility: hidden;
}

.text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary-main {
    font-size: 60px;
    display: block;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    font-size: 20px;
    font-weight: 700;
    display: block;
    letter-spacing: 17.4px;
    animation: moveRight 1s ease-out;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}